<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>carto copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>carto copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>carto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ortools_tsp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>random_walker copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>random_walker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9D8B0F31F8093C60099956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9D8B11A2014F5C00099956C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9F8E6A7201560DC00D554F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9F8E6B72020172100D554F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9F8E6C520201AB000D554F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
